In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/originales/Temas_CDMX.tsv",sep='\t')

In [26]:
data[:3]

,id,nombre,estado,municipio,categorias,secretarias,Linea,Estacion,score,scoreManual,Destacado,estatus,imagen,url,fechaCreacion,fechaInsercion,fechaMod,idAnalitycs
0,19020,Identifican a feministas que participaron en s...,Ciudad de México,Cuauhtémoc,Marchas / protesta social,SECRETARIA DE SEGURIDAD CIUDADANA,NaN,NaN,59.8,NaN,NO DESTACADO,ACTIVO,http://monitoringpol5c3f9f24c983d.s3.amazonaws...,https://www.facebook.com/permalink.php?story_f...,2020-06-10,2020-06-10 09:30:12,2020-06-10,NaN
1,19021,Banda de Los Rudos podría ser responsable de b...,Ciudad de México,Gustavo A. Madero,Seguridad,SECRETARIA DE SEGURIDAD CIUDADANA,NaN,NaN,33.1,NaN,NO DESTACADO,ACTIVO,http://monitoringpol5c3f9f24c983d.s3.amazonaws...,https://www.facebook.com/oficialticoman/posts/...,2020-06-10,2020-06-10 09:38:28,2020-06-10,NaN
2,19025,Hombre es detenido por robo a negocio en calle...,Ciudad de México,Benito Juárez,Seguridad,SECRETARIA DE SEGURIDAD CIUDADANA,NaN,NaN,25.5,NaN,NO DESTACADO,ACTIVO,http://monitoringpol5c3f9f24c983d.s3.amazonaws...,https://www.facebook.com/BlindarBenitoJuarez/p...,2020-06-10,2020-06-10 11:14:57,2020-06-10,NaN

In [27]:
data.columns

Index(['id', 'nombre', 'estado', 'municipio', 'categorias', 'secretarias',
       'Linea', 'Estacion', 'score', 'scoreManual', 'Destacado', 'estatus',
       'imagen', 'url', 'fechaCreacion', 'fechaInsercion', 'fechaMod',
       'idAnalitycs'],
      dtype='object')

In [6]:
datasql = pd.read_csv("../data/originales/salida_temas_sql.csv")

In [7]:
datasql[:3]

,idTema,nombre_T,Alcance_max_top,Alcance_extra,Alcance_suma,Publicaciones,Cal_alcance,Cal_publicaciones,Calificacion
0,2693,"Balacera Artz Pedregal, mueren 2 criminales is...",4.540170e+05,2.885239e+06,3.339256e+06,172,47.072127,48.576691,95.648818
1,827,Localizan el cuerpo de Norberto Ronquillo en X...,3.045225e+06,3.189640e+06,6.234865e+06,136,49.028837,46.360519,95.389356
2,12023,CS anuncia detención de presuntos feminicidas ...,7.144220e+06,5.127239e+05,7.656944e+06,115,49.672675,44.777727,94.450401

In [9]:
mixdata = pd.merge(data[["id","score"]],datasql[["idTema","Calificacion"]],how="outer",left_on="id",right_on="idTema")

In [10]:
mixdata[:3]

        id  score   idTema  Calificacion
0  19020.0   59.8  19020.0     66.405267
1  19021.0   33.1  19021.0     33.541659
2  19025.0   25.5  19025.0     25.838722

In [13]:
mixdata["score"].isna().value_counts()

False    9779
True       56
Name: score, dtype: int64

In [14]:
mixdata["Calificacion"].isna().value_counts()

False    9691
True      144
Name: Calificacion, dtype: int64

In [17]:
mixdata["resta"] = (mixdata["score"]-mixdata["Calificacion"])

In [28]:
mixdata[mixdata["resta"].abs()>20]

           id  score   idTema  Calificacion      resta
8     19053.0    9.4  19053.0     33.900352 -24.500352
46    18989.0   53.2  18989.0     28.993183  24.206817
936   17127.0   40.8  17127.0     17.111845  23.688155
4086  11792.0   38.8  11792.0     15.791175  23.008825
4535  11211.0   43.6  11211.0     20.593887  23.006113
4890  10647.0   38.8  10647.0     15.791175  23.008825
4915  10563.0   38.8  10563.0     15.791175  23.008825
6292   8477.0   48.7   8477.0     28.041626  20.658374
8820   2626.0   46.7   2626.0     22.072673  24.627327
9168   1893.0   38.8   1893.0     15.791175  23.008825
9358   1439.0   47.8   1439.0     26.578852  21.221148